{% extends 'layout.html' %}
{% block body %}


<main id="main" class="main">
  <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Modal Title</h4>
        </div>
        <div class="modal-body">
          <form  name="sentMessage" id="contactForm" action="/register" method="POST" novalidate enctype="multipart/form-data" class="needs-validation">
            <br>
            <div>
                <input type="text" class="form-control py-3" name="username" id="username" placeholder="Username" required>
                <div class="invalid-feedback">Please enter a username.</div>
            </div>
            <br>
            <div>
                <input type="text" class="form-control  py-3" name="fullname" id="name" placeholder="Fullname" required>
                <div class="invalid-feedback">Please enter your name.</div>
            </div>
            <br>
            <div>
                <input type="text" class="form-control  py-3" name="contact" id="contact" placeholder="Number" required>
                <div class="invalid-feedback">Please enter your number.</div>
            </div>
            <br>
            <div>
                <input type="text" class="form-control  py-3" name="email" id="email" placeholder="Email" required>
                <div class="invalid-feedback">Please enter your email.</div>
            </div>
            <br>
            <div>
                <input type="text" class="form-control  py-3" name="password" id="password" placeholder="Password" required>
                <div class="invalid-feedback">Please enter your password.</div>
            </div>
            <br>
            <div>
              <input type="checkbox" class="py-4" name="is_active" id="active">
              <label for="active">Active User</label>
            </div>                                
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary px-3 py-3 w-100" id="sendMessageButton">Register</button>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
 
  
    <div class="pagetitle">
      <h1>Users</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Users</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Current Users</h5>
              <br>
              <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#Modal1"><i class="bi bi-plus"></i>Add User</button>
              
              
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col p-0">#</th>
                    <th scope="col p-0">Username</th>
                    <th scope="col p-0">Name</th>
                    <th scope="col p-0">Contact</th>
                    <th scope="col p-0">Email</th>
                    <th scope="col p-0">Status</th>
                    <th></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                  <tr>
                    <th scope="row">{{user.sno}}</th>
                    <td>{{user.username}}</td>
                    <td>{{user.full_name}}</td>
                    <td>{{user.contact}}</td>
                    <td>{{user.email}}</td>
                    <td>{% if user.is_active %}Active{% else %}Inactive{% endif %}</td>
                    <td><button class="btn" data-bs-toggle="modal" data-bs-target="#myModal{{user.sno}}"><i class="bi bi-pencil"></i></button></td>

                    <div class="modal fade" id="myModal{{user.sno}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h4 class="modal-title" id="myModalLabel">Edit User</h4>
                              </div>
                              <div class="modal-body">
                                <form action="/edit/{{user.sno}}" method="POST" novalidate enctype="multipart/form-data" class="needs-validation">
                                    <br>
                                    <div>
                                      <input type="text" class="form-control py-3" name="username" id="username" placeholder="Username" required value="{{user.username}}">
                                      <div class="invalid-feedback">Please enter a username.</div>
                                  </div>
                                  <br>
                                  <div>
                                      <input type="text" class="form-control  py-3" name="fullname" id="name" placeholder="Fullname" required value="{{user.full_name}}">
                                      <div class="invalid-feedback">Please enter your name.</div>
                                  </div>
                                  <br>
                                  <div>
                                      <input type="text" class="form-control  py-3" name="contact" id="contact" placeholder="Number" required value="{{user.contact}}">
                                      <div class="invalid-feedback">Please enter your number.</div>
                                  </div>
                                  <br>
                                  <div>
                                      <input type="text" class="form-control  py-3" name="email" id="email" placeholder="Email" required value="{{user.email}}">
                                      <div class="invalid-feedback">Please enter your email.</div>
                                  </div>
                                  <br>
                                  <div>
                                      <input type="password" class="form-control  py-3" name="password" id="password" placeholder="Password" required value="{{user.password}}">
                                      <div class="invalid-feedback">Please enter your password.</div>
                                  </div>
                                  <br>
                                  <div>
                                    <input type="checkbox" class="py-4" name="is_active" id="active" value="1" {% if user.is_active %}checked{% endif %}>
                                    <label for="active">Active User</label>
                                  </div>                                
                                  <br>
                                  <div id="success"></div>
                                  <div class="form-group">
                                    <button type="submit" class="btn btn-primary px-3 py-3 w-100" id="sendMessageButton">Submit</button>
                                  </div>
                              </form>
                              </div>
                          </div>
                      </div>
                    </div>
                    <td></td>
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
              {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <div class="flash-messages">
                      {% for message in messages %}
                          <div class="alert alert-info">
                              {{ message }}
                          </div>
                      {% endfor %}
                  </div>
              {% endif %}
          {% endwith %}
            </div>
          </div>

        </div>
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


{% endblock %}
 